.site-header {
  border-top: 5px solid #181818;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  color: #FF6600;
}

a.post-list-heading
{
  color: #FF6600;
  &:visited
  {
    color: #FF6600;
  }
  &:hover
  {
    color: #FF6600;
  }
}

a.post-link
{
  color: #bbbbbb;
  font-weight: bold;
}

a.categorylink
{
  color: #bbbbbb;
  font-weight: bold;
}

a
{
  color: #bbbbbb;
  font-weight: bold;
  &:visited
  {
    color: #bbbbbb;
  }
  &:hover
  {
    color: #bbbbbb;
  }
}

.post-summary-img
{
  height: 200px;
  object-fit: cover;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.post-summary
{
  display: inline-block;
  min-width: 300px;
  width: 40%;
  margin: 2%;
  vertical-align: top; 
}

.post-summary-item
{
  padding: 5px;
}

.post-summary-description
{
  padding: 15px;
}

.relatedPosts
{
  margin: 15px;
}

.comment-list
{
  margin: 15px;
}

.comment::after {
  clear: both;
  content: "";
  display: table;
}

.comment-content
{
  float: right;
  width: calc(100% - 70px);
  margin: 5px;
}

.comment-avatar
{
  float: left;
  width: 50px;
}

.form-group
{
  display: block;
  margin-bottom: 5px;
}

input, textarea
{
  width: 100%;
  font-size: large;
}

textarea
{
  resize: vertical;
  height: auto;
  overflow: auto;
  vertical-align: top;
}

.small
{
  font-size: small;
}

.required
{
  color: red
}

.btn-submit
{
  background-color: lightgreen;
  border-radius: 5px;
  width: 200px;
  height: 30px;
  font-size: large;
}

.figure-image-container
{
  max-width: 500px;
}

.figure-image-container-right
{
  float:right;
  max-width: 500px;
}

.figure-image
{
  margin: auto;
}

.figure-caption
{
  padding-top: 10px;
  text-align: center;
  white-space: pre-wrap;
  font-style: italic;
}

.search-input
{
  margin: auto;
  font-size: 20px;
  padding: 5px;
  min-width: 300px;
}

.author-img
{
  max-width: 80px;
  float: left;
  margin: 10px;
}

.translation-flag
{
  height:15px;
}

.container
{
  margin-left:auto;
  margin-right:auto;
  display: block;
  padding: 10px;
  background-color: #212121;
  border: 1px solid #404040;
  border-radius: 3px;
  border-color: #414141;
}

.notice-success
{
  color: lightgreen;
}

.notice-error
{
  color: red;
}

input[disabled],
select[disabled],
textarea[disabled],
input[readonly],
select[readonly],
textarea[readonly] {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events:none;
}
