{{ define "main" }}
<div class="page-content">
  <div class="wrapper">
    <h1>404</h1>
    
    <div style="margin-bottom: 30px;">
      <h2>¡Página no encontrada!</h2>
      <div><a class="postlink" href="/buscar/">Buscar en PapaGameDev</a></div>
      <div><a class="postlink" href="/">Volver al Inicio</a></div>
    </div>

    <div>
      <h2>Page not found!</h2>
      <div><a class="postlink" href="/en/search/">Search in PapaGameDev</a></div>
      <div><a class="postlink" href="/en/">Back to Home</a></div>
    </div>
  </div>
</div>
{{ end }}
